*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
#wrapper {
    height: 100vh;
    background: url('img1.avif') no-repeat fixed; 
    background-size: cover;
}

/* styling header  */
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    letter-spacing: 3px ;
    font-weight: 600;
    font-size: 40px;
    border-bottom: 2px solid blueviolet;
    filter: drop-shadow(1px 1px 0px black);
}
header .logo_and_lang {
    width: 88%;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    color: red;
}

header .lang{
    color: black;
}

/* styling button  */
button {
    background: #0e856a;
    font-weight: bold;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}
header p {
    font-size: large;
}

/* styling main container  */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid blueviolet;
}
.main-container section {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0px;
    background: white;
    border-radius: 18px;
    padding: 12px;
}
img {
    width: 30%;
}
.main-container section .about {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-container section .about p {
    margin: 24px 0px;
    font-size: large;
}
.main-container section .about h3 {
    font-size: xx-large;
}
.main-container section .about .devices ul {
    display: flex;
    width: 150%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.main-container section .about .devices ul li {
    background: palevioletred;
    padding: 9px;
    border-radius: 9px;
    display: flex;
}
.main-container section .about .devices ul li img {
    width: 24px;
}
.advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-container .advantages .some_advantages {
    width: 100%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: auto;
    grid-gap: 34px;
    margin: 28px 0px;
}
.main-container .advantages .some_advantages div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.some_advantages .advan img {
    width: 188px;
    height: 95px;
    border-radius: 18%;
    filter: drop-shadow(1px 1px 4px gray);
}
.some_advantages .advan h4 {
    margin: 22px 0px;
    font-size: x-large;
}
.some_advantages .advan p {
    text-align: center;
    font-size: large;
}
/* styling footer  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    padding: 19px 0px;
}
footer .world_img_and_details {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .world_img_and_details img {
    margin-right: 50px ;
}
footer .world_img_and_details h4 {
    font-size: xxx-large;
    margin-right: 18px;
}
footer h2 {
    font-size: xxx-large;
}

/* hover effect */
button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
 a:hover {
    text-decoration: underline;
    font-size: large;
 }

@media screen and (max-width: 590px) {
    header {
        font-size: large;
        text-align: center;
    }
    .main-container section {
        width: auto;
    }
    .main-container section .about {
        width: auto;
        height: auto;
    }
    .main-container .advantages .some_advantages {
        grid-template-columns: auto;
    }
    footer {
        text-align: center;
    }
    footer h2 {
        font-size: xx-large;
    }
    footer .world_img_and_details {
        flex-direction: column;
    }
    footer .world_img_and_details .details {
        display: flex;
    }
 }
